apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-http
    kubernetes.io/ingress.class: nginx
spec:
  tls:
    - hosts: ["re.kaayaka.in"]
      secretName: web-tls
  rules:
    - host: re.kaayaka.in
      http:
        paths:
          - path: /
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web
                port:
                  number: 80
